HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Secrets Managing wit submodule ###
packy-api/src/main/resources/*.yml
packy-api/src/main/resources/*.p8
packy-api/src/main/resources/*.properties

packy-api/src/test/resources/*.sql
packy-domain/src/main/resources/*.yml
packy-domain/src/main/resources/*.sql
packy-infra/src/main/resources/*.yml
packy-support/src/main/resources/*.yml

### QueryDsl QClass ###
packy-domain/src/main/generated

### p6spy ###
spy.log
